<!DOCTYPE html>
<html>
<head><title>Добавить оценку</title></head>
<body>
    <h2>Добавить новую оценку</h2>
    <!-- form.hidden_tag() автоматически добавляет тот самый CSRF-токен -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.student_name.label }}<br>
            {{ form.student_name(size=32) }}
            {% for error in form.student_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.subject.label }}<br>
            {{ form.subject(size=32) }}
        </p>
        <p>
            {{ form.score.label }}<br>
            {{ form.score() }}
        </p>
        <p>
            <label for="work_type">Выберите тип работы:</label>
            <select id="work_type" name="work_type">
                <option value="Контрольная работа">Контрольная работа</option>
                <option value="Домашняя работа">Домашняя работа</option>
                <option value="Самостоятельная работа">Самостоятельная работа</option>
                <option value="Практическая работа">Практическая работа</option>
            </select>
        </p>
        <p>
            {{ form.comment.label }}<br>
            {{ form.comment(size=32) }}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
